@charset "utf-8";

.container {
  width: 1080px;
  margin: auto;
}
.vertical-text-button {

  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
  width: 100px;
  height: 100px;
  background-color: red;
  word-wrap: break-word;
  color: #300F0F;
}
#snooze {
  font-family: sans-serif;
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
  width: 1px;
  word-wrap: break-word;
  color: 300F0F;
}
#timedisplay{

}
